<body>
  <header>
    <h1>Recherche d'Entreprises</h1>
    <nav>
      <ul>
        <li class="cursor-pointer">
          <a>Accueil </a>
          <a>Entreprise </a>
          <a>A Propos </a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="bg-black bg-opacity-25 bg-blend-normal drop-shadow-xl rounded-3xl mx-11 px-11">
    <section>
      <form>
        <input type="text" placeholder="Filtre de Recherche" #filter/>
        <button class="primary" type="button" (click)="filterResults(filter.value)">Chercher</button>
      </form>
      <app-home [entrepriseFilteredList]="entrepriseFilteredList"></app-home>
    </section>
  </div>
</body>
